<a href="https://colab.research.google.com/github/951237/ai_graduate/blob/master/210625_%EB%8C%80%ED%95%99%EC%9B%90_2%ED%95%99%EA%B8%B0_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%ED%80%B4%EC%A6%88%ED%92%80%EC%9D%B401.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 210623 로지스틱 회귀 매개변수 다르게 스코어 확인

In [1]:
# 로지스틱 회기로 와인 분류하기
import pandas as pd
wine = pd.read_csv('https://bit.ly/wine-date')
wine.shape

(6497, 4)

In [2]:
# 데이터 내용 확인
wine.head()

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0

In [3]:
# 데이터 정보확인
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alcohol  6497 non-null   float64
 1   sugar    6497 non-null   float64
 2   pH       6497 non-null   float64
 3   class    6497 non-null   float64
dtypes: float64(4)
memory usage: 203.2 KB

In [4]:
wine.describe()

           alcohol        sugar           pH        class
count  6497.000000  6497.000000  6497.000000  6497.000000
mean     10.491801     5.443235     3.218501     0.753886
std       1.192712     4.757804     0.160787     0.430779
min       8.000000     0.600000     2.720000     0.000000
25%       9.500000     1.800000     3.110000     1.000000
50%      10.300000     3.000000     3.210000     1.000000
75%      11.300000     8.100000     3.320000     1.000000
max      14.900000    65.800000     4.010000     1.000000

In [5]:
# 타깃 클래스 갯수 확인
wine['class'].value_counts()

1.0    4898
0.0    1599
Name: class, dtype: int64

In [6]:
wine.columns

Index(['alcohol', 'sugar', 'pH', 'class'], dtype='object')

In [7]:
# 입력데이터 데이터 설정하기
data = wine[['alcohol', 'sugar', 'pH']].to_numpy()

In [8]:
# 타겟 데이터 설정하기
target = wine['class'].to_numpy()

In [9]:
print(data.shape, target.shape) # 두개 이상의 데이터를 확인할때 print문

(6497, 3) (6497,)

In [10]:
# 훈련세트, 테스트 세트 나누기
from sklearn.model_selection import train_test_split
# 비율을 20%로 설정
train_input, test_input, train_target, test_target = train_test_split(data, target, test_size=0.2, random_state = 42)

In [11]:
print(train_input.shape, test_input.shape)

(5197, 3) (1300, 3)

In [12]:
# 표준화 전처리
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [13]:
train_scaled

array([[ 0.01376574,  0.4646116 , -0.16888369],
       [ 1.60871671, -0.70299854,  0.26967864],
       [ 1.10504798, -0.70299854,  1.20945505],
       ...,
       [-0.82568214,  0.0267578 ,  0.14437512],
       [-0.82568214,  0.52716215, -0.23153545],
       [-0.82568214, -0.57789745,  1.83597265]])

In [14]:
test_scaled

array([[ 1.44082714,  1.52797084,  0.26967864],
       [-0.48990299, -0.68214836,  0.3323304 ],
       [ 1.27293756,  0.40206106, -0.23153545],
       ...,
       [ 1.60871671, -0.76554908, -0.16888369],
       [-0.90962693,  0.88161523,  0.52028568],
       [-1.49724045,  2.09092573, -1.98578474]])

In [15]:
# 로지스틱 회귀로 모델 훈련하기 : 이진분류
# 매개변수 기본값 
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train_scaled, train_target)
print(lr.score(train_scaled, train_target))
print(lr.score(test_scaled, test_target))

0.7808350971714451
0.7776923076923077

In [16]:
# 로지스틱 회귀 0.001일때 점수
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(C=0.001)
lr.fit(train_scaled, train_target)
print(lr.score(train_scaled, train_target))
print(lr.score(test_scaled, test_target))

0.7565903405811045
0.7423076923076923

In [17]:
# 로지스틱 회귀 1000일때 점수
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(C=1000)
lr.fit(train_scaled, train_target)
print(lr.score(train_scaled, train_target))
print(lr.score(test_scaled, test_target))

0.7802578410621512
0.7776923076923077

# 210624 PolynomialFeatures 다양한 특성 만들어 모델 훈련하기

In [36]:
# 기본 데이터
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(include_bias=False)
poly.fit(train_input)

train_poly = poly.transform(train_input)
test_poly = poly.transform(test_input)

lr = LogisticRegression()
lr.fit(train_poly, train_target)

print(lr.score(train_poly, train_target))
print(lr.score(test_poly, test_target))

0.8274004233211468
0.816923076923077

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [33]:
# 스케일 데이터 
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(include_bias=False)
poly.fit(train_scaled)

train_poly = poly.transform(train_scaled)
test_poly = poly.transform(test_scaled)

lr = LogisticRegression()
lr.fit(train_poly, train_target)

print(lr.score(train_poly, train_target))
print(lr.score(test_poly, test_target))

0.8283625168366365
0.8261538461538461

In [35]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree= 5, include_bias=False)
poly.fit(train_scaled)

train_poly = poly.transform(train_scaled)
test_poly = poly.transform(test_scaled)

lr = LogisticRegression()
lr.fit(train_poly, train_target)

print(lr.score(train_poly, train_target))
print(lr.score(test_poly, test_target))

0.8468347123340388
0.8323076923076923

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)