<a href="https://colab.research.google.com/github/951237/ai_graduate/blob/master/210725_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EB%82%A0%EC%94%A8%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
PATH_WEATHER = '/content/drive/MyDrive/data/배추가격예측하기_배추가격 및 기온정보/기온정보_2010-2020.csv'
PATH_CABBAGE = '/content/drive/MyDrive/data/배추가격예측하기_배추가격 및 기온정보/배추가격_데이터_예제_price data.csv'
PATH_RAIN = '/content/drive/MyDrive/data/배추가격예측하기_배추가격 및 기온정보/강수량정보_2010-2020.csv'

In [44]:
import pandas as pd

df_cabbage = pd.read_csv(PATH_CABBAGE, parse_dates=['year'])
df_rain = pd.read_csv(PATH_RAIN, encoding='CP949', delimiter=',', skiprows=6, parse_dates=['날짜'])
df_weather = pd.read_csv(PATH_WEATHER, encoding='CP949', delimiter=',',skiprows=6, parse_dates=['날짜'])

In [45]:
df_cabbage.head()

        year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0 2010-01-01     -4.9    -11.0      0.9       0.0      2123
1 2010-01-02     -3.1     -5.5      5.5       0.8      2123
2 2010-01-03     -2.9     -6.9      1.4       0.0      2123
3 2010-01-04     -1.8     -5.1      2.2       5.9      2020
4 2010-01-05     -5.2     -8.7     -1.8       0.7      2060