<a href="https://colab.research.google.com/github/951237/ai_graduate/blob/master/%EB%8C%80%ED%95%99%EC%9B%90_2%ED%95%99%EA%B8%B0_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%ED%80%B4%EC%A6%88%ED%92%80%EC%9D%B401.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 로지스틱 회기로 와인 분류하기
import pandas as pd
wine = pd.read_csv('https://bit.ly/wine-date')
wine.shape

(6497, 4)

In [4]:
# 데이터 내용 확인
wine.head()

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0

In [5]:
# 데이터 정보확인
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alcohol  6497 non-null   float64
 1   sugar    6497 non-null   float64
 2   pH       6497 non-null   float64
 3   class    6497 non-null   float64
dtypes: float64(4)
memory usage: 203.2 KB

In [6]:
wine.describe()

           alcohol        sugar           pH        class
count  6497.000000  6497.000000  6497.000000  6497.000000
mean     10.491801     5.443235     3.218501     0.753886
std       1.192712     4.757804     0.160787     0.430779
min       8.000000     0.600000     2.720000     0.000000
25%       9.500000     1.800000     3.110000     1.000000
50%      10.300000     3.000000     3.210000     1.000000
75%      11.300000     8.100000     3.320000     1.000000
max      14.900000    65.800000     4.010000     1.000000

In [9]:
# 타깃 클래스 갯수 확인
wine['class'].value_counts()

1.0    4898
0.0    1599
Name: class, dtype: int64

In [10]:
wine.columns

Index(['alcohol', 'sugar', 'pH', 'class'], dtype='object')

In [11]:
# 입력데이터 데이터 설정하기
data = wine[['alcohol', 'sugar', 'pH']].to_numpy()

In [13]:
# 타겟 데이터 설정하기
target = wine['class'].to_numpy()

In [14]:
print(data.shape, target.shape)

(6497, 3) (6497,)